body {
    background-image: url("resim2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 0px;
    background-position-y: 0px;
}